<div class="container">
  <table>
    <% @post.all.reverse.each_with_index do |post, index| %>
    <tr>
      <td width="20px" class="greyed">
        <%= index + 1 %>.
      </td>
      <td>
      <% if post.link != "" %>
      <a href="/post_vote/<%= post.id %>" id="vote" data="<%= post.id %>"><img src="../image/up_arrow.png" alt="upvote" width="18px"></a><a href="http://<%= post.link %>"><%= post.title %></a> <span class="post-url">(<%= post.link %>)</span>
      <% else %>
      <a href="/post_vote/<%= post.id %>" id="vote" data="<%= post.id %>"><img src="../image/up_arrow.png" alt="upvote" width="18px"></a><a href="view_post/<%= post.id %>"><%= post.title %></a>
      <% end %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="subtext"><span class="post-user"><span id="count"><%= post.post_votes.count %></span> points by <a href="/user_profile/<%= post.user.id %>"><%= post.user.name %></a> <%= calculate_time_ago(post.created_at) %> | <a href="view_post/<%= post.id %>"><%= post.comments.count %> comments</a></span></td>
    </tr>
    <% end %>
  </table>
</div>
