<div class="container">
  <table>
    <% @post.each_with_index do |post, index| %>
    <tr>
      <td>
      <% if post.link != "" %>
      <%= index + 1 %>. <a href="http://<%= post.link %>"><%= post.title %></a><span class="post-url">(<%= post.link %>)</span>
      <% else %>
      <%= index + 1 %>. <a href="view_post/<%= post.id %>"><%= post.title %></a>
      <% end %>
      </td>
    </tr>
    <tr>
      <td class="subtext"><span class="post-user">by <a href="/user_profile/<%= post.user.id %>"><%= post.user.name %></a> <%= calculate_time_ago(post.created_at) %> | <a href="view_post/<%= post.id %>"><%= post.comments.count %> comments</a></td>
    </tr>
    <% end %>
  </table>
</div>
