<div class="container">
  <div class="title">
  <% if @post.link != "" %>
    <a href="/post_vote/<%= @post.id %>" id="vote_post" data="<%= @post.id %>"><img src="../image/up_arrow.png" alt="upvote" width="18px"></a><a href="http://<%= @post.link %>"><%= @post.title %></a> <span class="post-url">(<%= @post.link %>)</span>
  <% else %>
    <a href="/post_vote/<%= @post.id %>" id="vote_post" data="<%= @post.id %>"><img src="../image/up_arrow.png" alt="upvote" width="18px"></a><a href="view_post/<%= @post.id %>"><%= @post.title %></a>
  <% end %>
  </div>
  <div class="subtext"><span class="post-user"><%= @post.post_votes.count %> points by <a href="/user_profile/<%= @post.user.id %>"><%= @post.user.name %></a> <%= calculate_time_ago(@post.created_at) %> | <%= @post.comments.count %> comments</span></div>
  <div>
    <p><%= @post.content %></p>
  </div>
  <form action="/add_comment/<%= @post.id %>" method="POST" class="form-comment">
    <div><textarea name="comment"></textarea></div>
    <div><input type="submit" value="Add comment" class="button"></div>
  </form>
  <div style="height: 30px;"></div>
  <div id="list-to-sort">
    <% @post.comments.all.each do |comment| %>
    <div class="post-user supertext"><a href="/comment_vote/<%= comment.id %>" id="vote_comment" data="<%= comment.id %>"><img src="../image/up_arrow.png" alt="upvote" width="18px"></a> <a href="/user_profile/<%= comment.user.id %>"><%= comment.user.name %></a> <%= calculate_time_ago(comment.created_at) %></div>
    <div><p><%= comment.comment %></p></div>
    <% end %>
  </div>
</div>